<h1 style="color: white;">Modern Cars Quiz</h1>

<div class="row">

    <!-- Question Panel -->
    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title center-text">Question <span id="question-current">1</span> of <span id="question-total">10</span></h3>
            </div>
            <div class="panel-body">
                <img style="width: 100%;" class="car-category-image" src="http://st.motortrend.com/uploads/sites/5/2014/02/2015-Subaru-WRX-CVT-front-three-quarter.jpg" alt="modern"/>      
                <a><i class="glyphicon glyphicon-edit"></i> Click to see specifications</a>              
            </div>
        </div>

    </div>

    <!-- Answer Panel -->
    <div class="col-md-4">

        <div class="row"> <!-- Start Answer Panel -->

            <!-- User Response -->
            <div class="col-md-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title center-text">Determine the Make &amp; Model</h3>
                    </div>

                    <div class="panel-body">
                        <form>
                            <label for="car-make">Make:</label>
                            <div class="input-group">
                                <select id="car-make">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                    <option value="ford">Ford</option>
                                    <option value="chevy">Chevy</option>
                                </select>
                            </div>
                            <br />
                            <label for="car-model">Model:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="car-model" />
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Tally of Score -->
            <div class="col-md-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title center-text">Current Score</h3>
                    </div>

                    <div class="panel-body">
                        <b>Points: </b><span id="points-current">2</span> of <span id="points-total">100</span>
                        <br/>
                        <b>Total Score: </b><span id="percent-current">99</span>%
                    </div>
                </div>
            </div>

        </div> <!-- End Answer Panel -->

    </div>

</div>