<div class="row">
    <h1 style="color: white;">Choose a catagory: </h1>
    <br/>
</div>

<div class="row">

    <div class="col-md-4">
        <a href="past" class="thumbnail car-category-card">
            <img class="car-category-image" src="https://static.cargurus.com/images/site/2008/06/13/18/41/1967_shelby_cobra-pic-30251-1600x1200.jpeg" alt="classic"/>
            <div class="caption">
                <h2 class="text-center">Past</h2>
            </div>
        </a>
    </div>


    <div class="col-md-4">
        <a href="#" class="thumbnail car-category-card">
            <img class="car-category-image" src="http://st.motortrend.com/uploads/sites/5/2014/02/2015-Subaru-WRX-CVT-front-three-quarter.jpg" alt="modern"/>
            <div class="caption">
                <h2 class="text-center">Present</h2>
            </div>
        </a>
    </div>


    <div class="col-md-4">
        <a href="#" class="thumbnail car-category-card">
            <img class="car-category-image" src="http://st.motortrend.com/uploads/sites/5/2016/10/2016-Tesla-Model-S-60-front-three-quarter-in-motion-02-e1477952073682.jpg" alt="eco"/>
            <div class="caption">
                <h2 class="text-center">Future</h2>
            </div>
        </a>
    </div>

</div>