<div class="row">
    <h1 style="color: white;">Choose a catagory: </h1>
    <br/>
</div>

<div class="row">

    <div class="col-md-4">
        <a href="quiz" class="thumbnail car-category-card">
            <img class="car-category-image" src="http://st.motortrend.com/uploads/sites/5/2014/02/2015-Subaru-WRX-CVT-front-three-quarter.jpg" alt="classic"/>
            <div class="caption">
                <h2 class="text-center">Sport</h2>
            </div>
        </a>
    </div>


    <div class="col-md-4">
        <a href="quiz" class="thumbnail car-category-card">
            <img class="car-category-image" src="http://st.motortrend.com/uploads/sites/11/2017/09/2018-Shelby-Raptor.jpg" alt="modern"/>
            <div class="caption">
                <h2 class="text-center">4x4</h2>
            </div>
        </a>
    </div>


    <div class="col-md-4">
        <a href="quiz" class="thumbnail car-category-card">
            <img class="car-category-image" src="http://st.motortrend.com/uploads/sites/5/2016/10/2016-Tesla-Model-S-60-front-three-quarter-in-motion-02-e1477952073682.jpg" alt="eco"/>
            <div class="caption">
                <h2 class="text-center">Eco</h2>
            </div>
        </a>
    </div>

</div>